body{
    background-image: url("http://bsnscb.com/data/out/193/27175491-tech-wallpapers.png");
    background-color: #000000;
    color: #ffffff;
    font-family: "Courier New";
    padding: 10px;
}

.extreme {
    text-align: center;
    color: gold;
    font-size: 75px;
    letter-spacing: 5px;
}

.content {
    color: goldenrod;
    border: 3px solid powderblue;
    padding: 30px;
    margin: 20px;
}

.navzone {
    color: orange;
}

a {
    color: hotpink;
    cursor: cell;
}


